@import url('https://fonts.googleapis.com/css?family=Poppins');

.app{
  font-family:"Poppins";
}

.bgc{
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
}
nav{
  background-color: #7c2c0c !important;
}
.nvlinks:hover{
color: aqua !important;
}
.padbtn{
  padding-left: 60px !important;
  padding-right:70px !important;
  background-color: rgb(210, 210, 42) !important;
}
.padbtn:hover{
  background-color: greenyellow !important;
}
.imgs{
  height:200px;

}